go 1.23.1

use (
	./apps/bz
	./apps/bzcompose
	./apps/bzenv
	./apps/bzget
	./apps/bzshift
	./apps/bztask
	./apps/bzvault
	./crypto
	./errors
	./fs
	./os
	./os/env
	./os/exec
	./os/hostfile
	./os/paths
	./os/ps
	./os/secrets
	./runes
	./secrets
	./spawn/bash
	./spawn/powershell
	./spawn/pwsh
	./spawn/sh
	./strings
	./vaults
	./vaults/azure
	./vaults/hashi
	./vaults/keepass
	./vaults/sops
)
